{% extends "new.html" %}

{% load static %}


{% block main %}
<link rel="stylesheet" href="{% static 'guides_list.css' %}">
<script id="guides-data" type="application/json">
        {{ tutorials_json|safe }}
    </script>

<script src="{% static 'guides_list.js' %}"></script>
<!-- Main Content Area -->
<main class="guides-main">

    <h1 class="guides-header">Guides</h1>

    <form class="search-bar" action="/guides/search/" method="get">
        <input type="text" name="q" placeholder="Search for a guide..." />
        <!--<button type="submit">Search</button>-->
    </form>

    <div class="guides-list">
        {% for tutorial in tutorials %}
        <a href="/guides/{{ tutorial.slug }}">{{ tutorial.title }}</a>
        {% endfor %}
    </div>

</main>
{% endblock %}

</body>

</html>