{% extends "base.html" %}

{% load static %}

{% block title %} - Login {% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
<script src="{% static 'login.js' %}"></script>
<script src="https://accounts.google.com/gsi/client" async></script>
<div class="login-container">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Send</button>
        </div>

        <!-- Display error message if authentication fails -->
        {% if error %}
            <div class="error-message" style="color: red;">
                {{ error }}
            </div>
        {% endif %}
    </form>
    <div class="google-login-section">
        <div id="g_id_onload"
            data-client_id="636129466708-jrgdjvj8i8nmt59srujn88khoh03k4sa.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="{% url 'auth-reciever' %}"
            data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="filled_black"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left">
        </div>
    </div>

</div>
{% endblock %}
