{% extends "new.html" %}

{% block main %}
<script src="https://accounts.google.com/gsi/client" async></script>
  <section class="form-container">
    <h2>Login to Your Account</h2>
    <form method="POST" action="{% url 'login' %}" class="signup-form">
      {% csrf_token %}
      <label for="email">Email</label>
      <input type="text" name="email" id="email" value="{{ email }}"required>

      <label for="password">Password</label>
      
      <input type="password" name="password" id="password" required>

      <button type="submit" class="cta-btn">Login</button>
      <!-- Display errors -->
        {% if errors %}
            <div class="errors">
                {{ errors }}
            </div>
        {% endif %}
        <div class="google-login-section">
            <div id="g_id_onload"
                data-client_id="974392355080-g28mjac0gbdd8dmjf81883615e8eh99g.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-login_uri="https://hedgedbetting.com/auth-receiver/"
                data-auto_prompt="false">
            </div>
            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="filled_white"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left">
            </div>
        </div>
    </form>
  </section>
{% endblock %}
