{% extends 'base.html' %}

{% load static %}

{% block title %} - Register{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock %}

{% block content %}
<script src="https://accounts.google.com/gsi/client" async></script>
<div class="register-container">
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password1" name="password1" required>
    </div>
    <!--Confirm password-->
    <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="password2" name="password2" required>
    </div>
    <div class="form-group">
        <label for="phone">Phone (Optional):</label>
        <input type="text" name="phone">
    </div>
    <div class="form-group">
        <button class="styled-button" type="submit">Send</button>
    </div>

    <!-- Display errors -->
    {% if errors %}
        <div class="errors">
            {{ errors }}
        </div>
    {% endif %}
</form>
<div class="google-login-section">
        <div id="g_id_onload"
            data-client_id="636129466708-jrgdjvj8i8nmt59srujn88khoh03k4sa.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="http://localhost:8000/auth-receiver/"
            data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="filled_black"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left">
        </div>
    </div>
</div>
{% endblock %}
