<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Finder Dashboard{% endblock %}</title>

    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <script src="{% static 'dashboard.js' %}" defer></script>

    {% block extra_style %}
    {% endblock %}
</head>

<body>

    <!-- Side Navigation Menu -->
    <div class="side-menu">
        <button class="close-menu" onclick="toggleMenu()">✖</button>
        <a href="/">🏠 Home</a>
        <a href="/settings">⚙️ Settings</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/profit_boost">Profit Boost</a>
        <a href="/bonus_bets">Bonus Bet</a>
        <a href="/site_credit">Site Credit</a>
        <a href="/second_chance">Second Chance Bet</a>
        <a href="/coming_soon">Qualifying Bet</a>
        <a href="/coming_soon">Arbitrage</a>
    </div>

    <!-- Main Dashboard -->
    <div class="dashboard-container">
        <div class="dashboard-top">
            <!-- Hamburger Menu Button -->
            <button class="hamburger-menu" onclick="toggleMenu()">☰</button>
            <p>Email: <span id="user-email">{{ request.user.email }}</span></p>
            <p>Potential Profit: $<span id="potential-profit">{{ potential_profit|intcomma }}</span></p>
            <p>State: <span id="user-state"> {{settings.state.name}}</span></p>
            <button onclick="toggleTheme();" id="theme-toggle">🌙</button>
        </div>
        {% block main %}
        <!-- Help Section -->
        <div class="dashboard-help">
            <h2>Need help?</h2>
            <p>Matched betting can be overwhelming at first, but we've got you covered.
                Learn the basics, explore strategy, and become confident in your first bets.</p>
            <a href="/guides" class="help-link">Explore the Guides →</a>
        </div>

        <!-- Bet Finders Section -->
        <div class="bet-finders">
            <h2 class="bet-finders-header">Bet Finders</h2>
            <p>
                Once you've obtained a promotion and 
                determined what class of promo it falls into, use the finder to create your matched bet.
            </p>
            <div class="dashboard-grid">
                <button onclick="window.location.href='/profit_boost'">Profit Boost</button>
                <button onclick="window.location.href='/bonus_bets'">Bonus Bet</button>
                <button onclick="window.location.href='/site_credit'">Site Credit</button>
                <button onclick="window.location.href='/second_chance'">Second Chance Bet</button>
                <button onclick="window.location.href='/coming_soon'">Qualifying Bet</button>
                <button onclick="window.location.href='/coming_soon'">Arbitrage</button>
            </div>
        </div>

        <!-- Existing Promos Section -->
        <div class="promos-board">
            <h2 class="promos-header">Promotions Available</h2>
            <p>
                These are just some of the available promotions that popular
                bookmakers are running right now. Make sure to read the terms and conditions very carefully before
                enrolling for them.
            </p>
            {% for promo in promos %}
            <div class="promo-item">
                <span class="promo-name">{{ promo.bookmaker }}</span>
                <span class="promo-description">
                    {{ promo.description }} <br>
                    {{ promo.code }}
                </span>
                <button class="promo-button" onclick="window.open('{{ promo.url }}').focus()">Claim Offer</button>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>

</body>

</html>