!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompt</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'settings.css' %}">
</head>
<body>
    {% csrf_token %}
    <script>
        // Data to send
        const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').getAttribute('value');


        
        var count = 1;
        // Post every 5 minutes to update bets, every 25 to update promos.
        setInterval(() => {
            var tasks = ['update_promos']
            if (count % 5 == 0) {
                count = 1;
                tasks.push('update_promos');
            }
            count++;
            var data = {
            tasks: tasks
            };
            fetch('/prompt/', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken' : csrfToken
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) throw new Error("Network response was not ok");
                return response.text();
            })
            .then(result => {
                console.log("Success:");
            })
            .catch(error => {
                console.error("Error:", error);
            });
            console.log("um is this happening.");
        }, 5 * 1000); // 1 minutes

    </script>

</body>